* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row {
  /* background-color: #006cfa; */
  color: white;
}

[class*="col-"] {
  background-color: #006cfa;
  border: 1px solid white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

[class*="col-"] > [class*="col-"] {
  background-color: #00e165;
  margin: 1px;
  height: 30px;
  border: none;
}

.container.section {
  margin-top: 20px;
}

.px10 {
  padding: 0 10px;
}

[class*="col-offset"] {
  border: none;
}
